---
import Button from "./Button.astro"

interface Props {
    title: string,
    description: string,
    img: string,
    href: string,
    tech: Array<Array<string>>,
    code?:string,
    page?: string;
}

const { title, description, href, img, tech, code="", page="" } = Astro.props;
---

<div class="grid flex-col sm:grid-cols-2 gap-4 sm:gap-6">
    <a href={href} target="_blank" class="relative h-52 w-full border-t-4 border-l-4 border-red-400 bg-red-400 overflow-hidden">
        <img src={img} alt="" class="box-border h-full w-full absolute hover:translate-x-4 hover:translate-y-4 transition-all hover:transition-all hover:duration-300 object-cover cursor-pointer">
    </a>
    <div class="flex flex-col gap-3 justify-center">
        <h4 class="text-2xl font-bold">{title}</h4>
        <p>{description}</p>
        <div class="flex flex-row gap-3">
            {tech.map((item) => (
                <div class="relative group/tooltip">
                    <img class="h-6" src={item[0]} alt="">
                    <span class="absolute pointer-events-none transition-all opacity-0 z-20 bottom-full -translate-y-0 pt-1 pb-2 px-2 left-1/2 -translate-x-1/2 whitespace-nowrap text-black text-xs bg-white border-2 border-black group-hover/tooltip:opacity-100 group-hover/tooltip:-translate-y-2">
                        {item[1]}
                    </span>
                </div>
            ))}
        </div>
        <div class="flex gap-6">
            {
                code ? 
                <Button text="Code" href={code} target="_blank">
                    <i class="fa-solid fa-code-branch" slot="after"></i>
                </Button> 
                : ''
            }
            {
                page ? 
                <Button text="Read" href={page}>
                    <i class="fa-solid fa-book" slot="after"></i>
                </Button> 
                : ''
            }
        </div>
    </div>
</div>